{% extends "base.html" %} {% block pages %}

<div class="page" id="members-list">
  <header class="bar bar-nav">
    <a class="icon icon-refresh pull-right" href="javascript:;"></a>
    <h1 class="title">会员信息</h1>
  </header>
  <div class="content">
    <div class="list-block media-list">
      <ul>
        {% for user in users %}
        <li>
          <a
            href="/member-info/{{ user._id }}"
            class="item-link item-content"
            member-id="{{ user._id }}"
          >
            <div class="item-inner">
              <div class="item-title-row">
                <div class="item-title">{{ user.nickName }}</div>
                <div class="item-after">{{ user.points }}</div>
              </div>
              <div class="item-subtitle">{{ user.noteName }}</div>
              <div class="tiem-text">
                {% if user.contact[0] %} 地址：{{ user.contact[0].addr }}
                {{ user.contact[0].phone }}
                {% endif %}
              </div>
            </div>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

{% endblock %} {% block script %}
<script src="js/index.js"></script>
{% endblock %}
